.hidden {
    display: none;
}

#name {
    display: flex;
    top: 0;
}

#gold {
    display: flex;
    top: 0;
}

#avatars {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px;
}

#avatar {
    height: 80px;
    width: 50px;
}