/* 
Was looking to add CSS to my aplication and came across this,
https://modernweb.com/zelda-a-link-to-the-css/ 
which is where most of this CSS came from
*/
.stage {
  position: relative;
  width: 300px;
  height: 200px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
  -moz-perspective-origin: 120% -200px;
  -webkit-perspective-origin: 120% -200px;
  perspective-origin: 120% -200px;
}
.stage .triangle {
  position: absolute;
  top: 0;
  left: 75px;
  width: 150px;
  height: 150px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-origin: 125px 50%;
  -ms-transform-origin: 125px 50%;
  -webkit-transform-origin: 125px 50%;
  transform-origin: 125px 50%;
}
.stage .triangle figure {
  display: block;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.stage.example4 .triangle {
  top: 20px;
  -webkit-animation: rotate 5s linear infinite;
  -moz-animation: rotate 5s linear infinite;
  -o-animation: rotate 5s linear infinite;
  -ms-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}
.stage.example4 figure.front {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid #ffe403;
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px);
}
.stage.example4 figure.back {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid #ffe403;
  -moz-transform: translateZ(-20px) rotateY(180deg);
  -ms-transform: translateZ(-20px) rotateY(180deg);
  -webkit-transform: translateZ(-20px) rotateY(180deg);
  transform: translateZ(-20px) rotateY(180deg);
}
.stage.example4 figure.side1 {
  content: " ";
  display: block;
  position: absolute;
  height: 168px;
  width: 40px;
  background-color: #ffd200;
  -moz-transform: translateY(-9px) translateX(18px) rotateY(-90deg) rotateX(26.5deg);
  -ms-transform: translateY(-9px) translateX(18px) rotateY(-90deg) rotateX(26.5deg);
  -webkit-transform: translateY(-9px) translateX(18px) rotateY(-90deg) rotateX(26.5deg);
  transform: translateY(-9px) translateX(18px) rotateY(-90deg) rotateX(26.5deg);
}
.stage.example4 figure.side2 {
  content: " ";
  display: block;
  position: absolute;
  height: 168px;
  width: 40px;
  background-color: #ffd200;
  -moz-transform: translateY(-9px) translateX(92px) rotateY(90deg) rotateX(26.5deg);
  -ms-transform: translateY(-9px) translateX(92px) rotateY(90deg) rotateX(26.5deg);
  -webkit-transform: translateY(-9px) translateX(92px) rotateY(90deg) rotateX(26.5deg);
  transform: translateY(-9px) translateX(92px) rotateY(90deg) rotateX(26.5deg);
}
.stage.example4 figure.side3 {
  content: " ";
  background-color: #ffd200;
  width: 150px;
  height: 40px;
  -moz-transform: translateY(130px) rotateX(-90deg);
  -ms-transform: translateY(130px) rotateX(-90deg);
  -webkit-transform: translateY(130px) rotateX(-90deg);
  transform: translateY(130px) rotateX(-90deg);
}
.stage.example4 {
  -moz-perspective-origin: 120% -200px;
  -webkit-perspective-origin: 120% -200px;
  perspective-origin: 120% -200px;
}
.stage.example4 .scaler {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.8);
  position: absolute;
  top: -20px;
  left: 40px;
}
.stage.example4 .triangle {
  top: 0;
  -webkit-animation: rotate 5s infinite linear;
  -moz-animation: rotate 5s infinite linear;
  -o-animation: rotate 5s infinite linear;
  -ms-animation: rotate 5s infinite linear;
  animation: rotate 5s infinite linear;
}
.stage.example4 .triangle.two {
  top: 150px;
  left: 0;
}
.stage.example4 .triangle.three {
  top: 150px;
  left: 150px;
}

@-webkit-keyframes rotate {
  0% {
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}